:root{
  --bg-primary: #000000;
  --text-light: #FFFFFF;
  --text-dark: #1D1D1F;
  --text-red: #a01a1f;
  --text-orange: #fd7728;

  --title-primary-color: #F5F5F7;
  --subtitle-color: #6E6E73;
  --action-color: #2997FF;
  --spirited-main-color: #DED2B9;
}

header{
  background-color: var(--bg-primary);
  color: var(--text-light);
  height: fit-content;
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 12px 0;
}

header nav ul{
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

header nav ul li{
  min-width: fit-content;
  height: fit-content;
  padding: 0 0.75rem;
  font-size: small;
  cursor: pointer;

  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main section{
  text-align: center;
  position: relative;
}

main section img{
  width: 100%;
  height: auto;
}

main section a{
  color: var(--action-color);
  line-height: 1.8rem;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

main section a:hover{
  text-decoration: underline;
}

/*main-section*/
main .main-section h1{
  color: var(--title-primary-color);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;
}

main .main-section h2{
  color: var(--subtitle-color);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

main section span{
  font-size: 1rem;
}

main .main-section .text-wrapper{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*spirited-section*/
main .spirited-section > div{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

main .spirited-section > div:last-child{
  bottom: 50px;
}

main .spirited-section > div:first-child{
  top: 105px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 60%;
}

main .spirited-section > div:first-child p{
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--spirited-main-color);
  letter-spacing: -0.6px;
}

main .spirited-section p{
  color: var(--title-primary-color);
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.11px;
}

main .spirited-section span{
  color: var(--text-light);
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: block;
  letter-spacing: 0.23px;
}

/*iphone-section*/

main .iphone-section h2{
  color: var(--text-dark);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;
}

main .iphone-section P{
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

main .iphone-section .link-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main .iphone-section .text-wrapper{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*products-section*/
.products-section{
  display: flex;
  gap: 1rem;
  margin: auto;
}

.products-section div{
  width: 930px;
}

.products-section h2{
  color: var(--title-primary-color);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;  
}

.products-section P{
  color: var(--title-primary-color);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-iphone{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

.products-section .link-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.product{
  display: flex;
  gap: 1rem;
}


/*Ipad*/
.products-section .text-ipad h2{
  color: var(--text-dark);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;  
}

.products-section .text-ipad P{
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-ipad{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*AirPods*/
.products-section .text-airpods img{
  width: 30px;
}

.products-section .text-airpods h2{
  color: var(--text-dark);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;  
}

.products-section .text-airpods P{
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-airpods{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*watch*/
.products-section .text-watch img{
  width: 30px;
}

.products-section .text-watch h2{
  color: var(--title-primary-color);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;  
}

.products-section .text-watch P{
  color: var(--title-primary-color);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-watch P span{
  color: var(--text-red);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-watch{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*ultra*/

.products-section .text-ultra img{
  width: 30px;
}

.products-section .text-ultra h2{
  color: var(--text-dark);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;  
}

.products-section .text-ultra P{
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-ultra P span{
  color: var(--text-orange);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 1rem;
}

.products-section .text-ultra{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*Card*/
.products-section .text-card img{
  width: 30px;
}

.products-section .text-card h2{
  color: var(--text-dark);
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: -0.28px;  
}

.products-section .text-card P{
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
}

.products-section .text-card{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

/*observation*/
.observation div{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.observation p{
color: var(--subtitle-color);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
text-align: left;
margin-bottom: 1rem;
}

.observation strong{
  color: var(--text-dark);
}

.boder{
  border-bottom: var(--subtitle-color) 1px solid;
}

/*Directory*/
.apple_directory div{
  display: flex;
  width: 1100px;
  padding-top: 20px;
  margin: 0 auto;
  gap: 4rem;
}

.apple_directory span{
  color: var(--text-dark);

  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.12px;
}

.apple_directory ul li{
  display: flex;
  width: 176px;
  font-size: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  line-height: 20px;
}

.cards{
  margin-top: 1rem;
}

/*FIND-apple*/
.find-apple{
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.find-apple div p{
  color: var(--subtitle-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
}

.find-apple div p a{
  color: var(--action-color);
}

.find-apple .footer-find {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.find-apple .footer-find ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}

.find-apple .footer-find ul li{
  color: var(--subtitle-color);
  font-size: 15px
}